.products-main-container {
  display: flex;
  flex-wrap: wrap;
}

.main-container {
  display: flex;
  gap: "24px";
  flex-direction: row;
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }
}
